{% extends "base.html" %}

{% block content %}
<div class="forum-actions">
    <a href="{% url 'threads:new' %}" class="btn btn-success">New Thread</a>
    <a href="{% url 'forums:update' forum.slug %}" class="btn btn-secondary">Update</a>
    <a href="{% url 'forums:visibility' forum.slug %}" class="btn btn-secondary">Change Visibility</a>
</div>

<h2>{{ forum.name }}</h2>
<p class="description">{{ forum.description }}</p>

<table>
    <thead>
        <tr>
            <th>Subject</th>
            <th>Author</th>
            <th>Posts</th>
        </tr>
    </thead>
    <tbody>
    {% for thread in forum.threads %}
    <tr>
        <td><a href="{% url 'threads:show' thread.slug %}">{{ thread.subject }}</a></td>
        <td><a href="{% url 'users:profile' thread.author.username %}">{{ thread.author.username }}</td>
        <td>{{ thread.post_count }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="2" class="empty">No threads for this forum</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}