{% extends "base.html" %}

{% block content %}
<a href="{% url 'forums:new' %}" class="btn btn-green">New Forum</a>


<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for forum in forums %}
        <tr>
            <td><a href="{% url 'forums:show' forum.slug %}">{{ forum.name }}</a></td>
            <td>{{ forum.description }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2">No forums found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>  
{% endblock content %}
