{% load compress %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        
        <title>Fora</title>

        {% block extra_css %}{% endblock extra_css %}

        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600">
        {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'css/main.scss' %}">
        {% endcompress %}
    </head>
    <body>
        <div class="wrap">
        {% block content %}{% endblock content %}
        </div>
        {% block extra_js %}{% endblock extra_js %}
    </body>
</html>